<!DOCTYPE html>
<html>
    <head>
        <title>FPU Telementry Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/suncalc/1.8.0/suncalc.min.js"></script>
        <script type="module" src="{{ url_for('static', filename='scripts/average_speed/array_prediction.js') }}" defer></script>
        <script type="module" src="{{ url_for('static', filename='scripts/power_map/main.js') }}" defer></script>
	<script src="{{ url_for('static', filename='scripts/server_scripts/get.js') }}"></script>
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recent_data') }}">Telemetry Snapshot</a></li>
            <li><a href="">Strategy</a></li>
        </ul>
        <div class="container">
            <!-- Left Column Content: Calculation Outputs -->
            <div class="left-column">
                <div class="">
                    <p>Something</p>
                </div>
                <div class="power_map">
                    <canvas id="canvas" width="600" height = "600"></canvas>
                </div>
                <div class="">
                    <p>Something</p>
                </div>
            </div>
            <!-- Right Column Content: Input and Car State -->
            <div class="right-column">
                <div class="row">
                    <h3>Time Left</h3>
                </div>
                <div class="row">
                    <h3>Battery Percent</h3>
                </div>
                <div class="row">
                    <h3>Speed</h3>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <script>
            var canvas = document.getElementById("canvas");
            var gl = canvas.getContext("webgl");
            window.addEventListener("load", async () => {
                // console.log(array_power_t_to_t(new Date("2025-06-04T07:30:00Z"), new Date("2025-06-04T15:30:00Z")) / 1000, "kW*hrs");
                let points = await get_power_map();
                main(points);
            });
	    get_dash();
        </script>
    </footer>
</html>
