<!DOCTYPE html>
<html>
    <head>
        <title>Telementry Snapshot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recent_data_styles.css') }}">
        <script src="{{ url_for('static', filename='scripts/server_scripts/get.js')}}"></script>
        <script>
            function toggleHighlight(icon) {
                const item = icon.parentElement; // Get the parent '.item' div
                item.classList.toggle("highlighted"); // Toggle highlight class
            }
        </script>
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recent_data') }}">Telemetry Snapshot</a></li>
            <li><a href="">Strategy</a></li>
        </ul>
        <div class="container">
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Battery Pack Extended Info
                <div id="battery_pack_extended_info"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Battery Pack Fan Status
                <div id="battery_pack_fan_status"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Battery Pack Info
                <div id="battery_pack_info"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Battery Pack Status
                <div id="battery_pack_status"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                BMU Heartbeat Sensor
                <div id="bmu_heartbeat_sensor"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Charger Control Info
                <div id="charger_control_info"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 301
                <div id="cmu_301"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 302
                <div id="cmu_302"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 303
                <div id="cmu_303"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 304
                <div id="cmu_304"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 305
                <div id="cmu_305"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 306
                <div id="cmu_306"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 307
                <div id="cmu_307"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 308
                <div id="cmu_308"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 309
                <div id="cmu_309"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 30A
                <div id="cmu_30A"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 30B
                <div id="cmu_30B"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                CMU 30C
                <div id="cmu_30C"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Min/Max Cell Temp
                <div id="min_max_cell_temp"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Min/Max Cell Voltage
                <div id="min_max_cell_voltage"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Aux Power
                <div id="MPPT1 Aux Power"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Input
                <div id="MPPT1 Input"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Limits
                <div id="MPPT1 Limits"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Max Input Current
                <div id="MPPT1 Max Input Current"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Max Output Voltage
                <div id="MPPT1 Max Output Voltage"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Mode
                <div id="MPPT1 Mode"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Output
                <div id="MPPT1 Output"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Power Connector
                <div id="MPPT1 Power Connector"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Status
                <div id="MPPT1 status"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT1 Temp
                <div id="MPPT1 temp"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Aux Power
                <div id="MPPT2 aux power"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Input
                <div id="MPPT2 input"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Limits
                <div id="MPPT2 limits"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Max Input Current
                <div id="MPPT2 Max input Current"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Max Output Voltage
                <div id="MPPT2 max output Voltage"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Mode
                <div id="MPPT2 mode"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Output
                <div id="MPPT2 output"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Power Connector
                <div id="MPPT2 power connector"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Status
                <div id="MPPT2 status"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                MPPT2 Temp
                <div id="MPPT2 temp"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Pack Balance State of Charge
                <div id="pack_balance_state_of_charge"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Pack State of Charge
                <div id="pack_state_of_charge"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                Precharge Status
                <div id="precharge_status"></div>
            </div>
            <div class="item">
                <span class="flag" onclick="toggleHighlight(this)">FLAG</span>
                GPS
                <div id="gps"></div>
            </div>
        </div>
    </body>
    <footer>
        <script>
            update_tables();
        </script>
    </footer>
</html>
