<!DOCTYPE html>
<html>
    <head>
        <title>Telementry Snapshot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recent_data_styles.css') }}">
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recent_data') }}">Telemetry Snapshot</a></li>
            <li><a href="">Strategy</a></li>
        </ul>
        <div class="container">
            <div class="item">
                Battery Pack Extended Info
            </div>
            <div class="item">
                Battery Pack Fan Status
            </div>
            <div class="item">
                Battery Pack Info
            </div>
            <div class="item">
                Battery Pack Status
            </div>
            <div class="item">
                BMU Heatbeat Sensor
            </div>
            <div class="item">
                Charger Control Info
            </div>
            <div class="item">
                CMU 301
            </div>
            <div class="item">
                CMU 302
            </div>
            <div class="item">
                CMU 303
            </div>
            <div class="item">
                CMU 304
            </div>
            <div class="item">
                CMU 305
            </div>
            <div class="item">
                CMU 306
            </div>
            <div class="item">
                CMU 307
            </div>
            <div class="item">
                CMU 308
            </div>
            <div class="item">
                CMU 309
            </div>
            <div class="item">
                CMU 30A
            </div>
            <div class="item">
                CMU 30B
            </div>
            <div class="item">
                CMU 30C
            </div>
            <div class="item">
                Min/Max Cell Temp
            </div>
            <div class="item">
                Min/Max Cell Voltage
            </div>
            <div class="item">
                MPPT1 Aux Power
            </div>
            <div class="item">
                MPPT1 Input
            </div>
            <div class="item">
                MPPT1 Limits
            </div>
            <div class="item">
                MPPT1 Max Input Current
            </div>
            <div class="item">
                MPPT1 Max Output Voltage
            </div>
            <div class="item">
                MPPT1 Mode
            </div>
            <div class="item">
                MPPT1 Output
            </div>
            <div class="item">
                MPPT1 Power Connector
            </div>
            <div class="item">
                MPPT1 Status
            </div>
            <div class="item">
                MPPT1 Temp
            </div>
            <div class="item">
                MPPT2 Aux Power
            </div>
            <div class="item">
                MPPT2 Input
            </div>
            <div class="item">
                MPPT2 Limits
            </div>
            <div class="item">
                MPPT2 Max Input Current
            </div>
            <div class="item">
                MPPT2 Max Output Voltage
            </div>
            <div class="item">
                MPPT2 Mode
            </div>
            <div class="item">
                MPPT2 Output
            </div>
            <div class="item">
                MPPT2 Power Connector
            </div>
            <div class="item">
                MPPT2 Status
            </div>
            <div class="item">
                MPPT2 Temp
            </div>
            <div class="item">
                Pack Balance State of Charge
            </div>
            <div class="item">
                Pack State of Charge
            </div>
            <div class="item">
                Precharge Status
            </div>
            <div class="item">
                GPS
            </div>
        </div>
    </body>
    <footer>

    </footer>
</html>
