argparse-addons==0.12.0
bitstruct==8.21.0
blinker==1.9.0
cantools==40.2.2
click==8.2.1
crccheck==1.3.0
diskcache==5.6.3
Flask==3.1.1
flask-cors==6.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msgpack==1.1.0
packaging==25.0
python-can==4.5.0
textparser==0.24.0
typing_extensions==4.14.0
Werkzeug==3.1.3
wrapt==1.17.2
